* {
  box-sizing: border-box;
}

html,
body,
h1,
h3,
ul,
li,
input,
button {
  margin: 0;
  padding: 0;
}

h1,
h3 {
  font-weight: normal;
}

ul,
li {
  list-style: none;
}

button {
  border: none;
}

button:focus,
input:focus {
  outline: none;
}
